<p id="notice"><%= notice %></p>

<h1>Add a note</h1>
<%= render 'form' %>

<hr/>

<h1>Search your notes</h1>
<form action="" method="get">
  <input type="textbox" name="q" size="40" value="<%= @query %>"/>
  <input type="submit" value="Search"/>
  <a href="<%= notes_path %>">Show all</a>
</form>

<br/>
<hr/>

<% if @query.blank? %>
  <h1>All your notes:</h1>
<% else %>
  <h1>Notes matching "<%= @query %>"</h1>
<% end %>

<br/>

<% @notes.each do |note| %>
  <div class="notebody"><%= note.body %></div>
  <div>
    <%= link_to 'Edit', edit_note_path(note) %>
    <%= link_to 'Delete', note, confirm: 'Are you sure?', method: :delete %>
  </div>
  <br/>
<% end %>
